@import "Joker-defaults";
@import "Joker";

.Joker {
  @include Joker;
}


.Joker .v-button{display:inline-table}

.Joker .v-button-wrap{display:table-cell;vertical-align:middle}

.Joker .v-button-fontSize80{font-size:80px}

.Joker .v-button-backgroundColorGreen{

background-image:-webkit-linear-gradient(top,#006400 2%,#006400 98%);
background-image:linear-gradient(to bottom,#006400 2%,#006400 98%);
border:3px solid #000000;
border-top-color:#000000;
border-bottom-color:#000000;
font-size:80px;
color:#ffffff;

}
.Joker .v-button-backgroundColorRed{

background-image:-webkit-linear-gradient(top,#8B0000 2%,#8B0000 98%);
background-image:linear-gradient(to bottom,#8B0000 2%,#8B0000 98%);
border:3px solid #000000;
border-top-color:#000000;
border-bottom-color:#000000;
font-size:80px;
color:#ffffff;

}
.Joker .v-button-backgroundColorBrown{background-color:brown}