<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="jokerApp"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.joker.jokerapp.entity.ProductItemCategory</class>
        <class>com.joker.jokerapp.entity.ProductItem</class>
        <class>com.joker.jokerapp.entity.ProductModifierCategory</class>
        <class>com.joker.jokerapp.entity.ProductModifier</class>
        <class>com.joker.jokerapp.entity.ProductItemModifierCategoryAssoc</class>
        <class>com.joker.jokerapp.entity.TableItem</class>
        <class>com.joker.jokerapp.entity.Ticket</class>
    </persistence-unit>
</persistence>
